vti_encoding:SR|utf8-nl
https\://files.eric.ed.gov/fulltext/ed148644.pdf:work-history.htm
https\://en.wikipedia.org/wiki/basic:work-history.htm
https\://www.winwrap.com/:company.htm index.htm winwrap-basic.htm
https\://en.wikipedia.org/wiki/bob_rau:work-history.htm
https\://www.icann.org/en:work-history.htm
http\://www.stanford.edu/:work-history.htm
http\://www.oppedahl.com/feathers:work-history.htm
https\://en.wikipedia.org/wiki/apl_(programming_language):work-history.htm
https\://en.wikipedia.org/wiki/fortran:work-history.htm
https\://en.wikipedia.org/wiki/trs-80_model_100:work-history.htm
https\://en.wikipedia.org/wiki/history_of_cad_software:work-history.htm
https\://semiengineering.com/entities/silicon-valley-research:work-history.htm
https\://en.wikipedia.org/wiki/vax:work-history.htm
https\://web.laplink.com/:work-history.htm
https\://www.slac.stanford.edu/pubs/slacpubs/1500/slac-pub-1684.pdf:work-history.htm
https\://www.fau.edu:work-history.htm
https\://en.wikipedia.org/wiki/ibm:work-history.htm
https\://en.wikipedia.org/wiki/altair_basic:work-history.htm
http\://www.oppedahl.com/partridge:work-history.htm
http\://www.microsoft.com/:work-history.htm
https\://me.stanford.edu/person/craig-milroy:work-history.htm
https\://www.jedec.org/:work-history.htm
https\://en.wikipedia.org/wiki/slac_national_accelerator_laboratory:work-history.htm
https\://en.wikipedia.org/wiki/ibm_system/370:work-history.htm
http\://www.oppedahl.com/:work-history.htm
https\://en.wikipedia.org/wiki/prime_computer:work-history.htm
https\://en.wikipedia.org/wiki/pascal_(programming_language):work-history.htm
https\://www.icann.org/en/announcements/details/press-release-icann-board-appoints-louis-touton-vice-president-general-counsel-and-secretary-19-10-1999-en:work-history.htm
https\://en.wikipedia.org/wiki/algol_w:work-history.htm
http\://www.club100.org/library/libp100.html:work-history.htm
https\://en.wikipedia.org/wiki/apollo_computer:work-history.htm
https\://www.alldatasheet.com/datasheet-pdf/pdf/74898/microchip/27c64.html:work-history.htm
https\://en.wikipedia.org/wiki/country_code_top-level_domain:work-history.htm
